﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
<<<<<<< HEAD
<<<<<<< HEAD
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        

=======
=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

<<<<<<< HEAD
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<<<<<<< HEAD
<<<<<<< HEAD

=======
@using System.Web.Optimization
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
=======
@using System.Web.Optimization
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
