﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

<<<<<<< HEAD
<<<<<<< HEAD
        @Html.HiddenFor(model => model.ID)
=======
        @Html.HiddenFor(model => model.Id)
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
=======
        @Html.HiddenFor(model => model.Id)
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

<<<<<<< HEAD
<<<<<<< HEAD
        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreate)
            @Html.ValidationMessageFor(model => model.DateCreate)
        </div>

=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
