﻿@model Blog.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Comment</legend>

    <div class="display-label">
<<<<<<< HEAD
<<<<<<< HEAD
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.post.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.post.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
=======
=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
         @Html.DisplayNameFor(model => model.Post_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Post_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
<<<<<<< HEAD
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
    @Html.ActionLink("Back to List", "Index")
</p>
