﻿@model IEnumerable<Blog.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
<<<<<<< HEAD
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post.Title)
=======
=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
            @Html.DisplayNameFor(model => model.Post_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
<<<<<<< HEAD
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
<<<<<<< HEAD
<<<<<<< HEAD
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
=======
=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
            @Html.DisplayFor(modelItem => item.Post_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
<<<<<<< HEAD
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
=======
>>>>>>> a1665d82f5ad3653f7b823bca70daa3f4d08a3ac
        </td>
    </tr>
}

</table>
